.main__section--works {
  position: relative; }

.dev-desc--works {
  position: absolute;
  top: 153px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
