h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}

.wrapper {
    position: relative;
}

.section {
    height: 100vh;
}

.main__section {
    height: 100vh;
    background-image: url('../img/bg/welcome.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.dev-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center; 

    &__avatar {      
        width: 140px;
        height: 140px;
        border-radius: 50%;
        overflow: hidden;    
        background-repeat: no-repeat;
        background-position: 50%, 50%;
        background-size: cover;
        margin-bottom: 10px;
    }

    &__name {
        font-size: 28px;
    }

    &__desc {
        color: rgba($color: white, $alpha: 0.8);
    }
}

.dev-desc__name--welcome {
    margin-bottom: 2px;
}

.icon-social {
    width: 26px;
    height: 22px;
    opacity: 0.5;
    fill: #fff;
    transition: 0.3s;
    
    &:hover {
        fill: #4e8839;
    }
}

.social__item {
    display: inline-block;
    margin-right: 27px;
}

.social__item:last-child {
    margin-right: 0px;
}

.subtitle {
    font-size: 35px;
    text-transform: uppercase;
    font-family: Sansus-Webissimo-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;

}