h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: rem(0px);
    margin-bottom: rem(0px);
    font-weight: normal;
}

.hero__menu {
    position: absolute;
    top: rem(28px);
    right: rem(30px);
    z-index: 30;
    cursor: pointer;
}

.hamburger {
    color: #fff;
    cursor: pointer;
    z-index: 3;
    width: 40px;
    display: block;
    opacity: 0.5;
    transition: 0.3s;
    &:hover {
        opacity: 1;
    }
}

.hamburger span {
    display: block;
    height: 5px;
    background-color: #fff;
    margin: 10px 0 0;
    transition: all .1s;
    position: relative;
    border-radius: 2px;
}

.hamburger__el:first-child {
    margin: 0;
}

.hamburger.active .first {
    position: absolute;
    bottom: 0;
    width: 40px;
    transform: rotate(45deg);
}

.hamburger.active .second {
    visibility: hidden;
}

.hamburger.active .third  {
    position: absolute;
    top: 0;
    width: 40px;
    transform: rotate(-45deg);
}

.full-menu {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: rgba(0, 191, 165, 0.87);
    z-index: 25;    
}

.full-menu.active {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
}

.nav__list.nav-list--full-menu {
    flex-direction: column;
}

.nav.nav--full-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;    
}

.nav__item.title--link {
    justify-content: center;
    margin-bottom: rem(85px);
    @include phones {
        margin-bottom: rem(27px);
    }
}

.nav__item:last-child.title--link {
    margin-bottom: 0;
}

.title {
    font-size: rem(63px);
    font-family: "BERNIERRegular-Regular", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #455a64;
    display: flex;
    align-items: center;
    @include tablets {
        font-size: rem(49px);
    }
    @include phones {
        font-size: rem(35px);
    }
}

.subtitle {
    display: flex;
    align-items: center;
    font-size: rem(35px);
    font-family: "BERNIERRegular-Regular", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #455a64;
    @include tablets {
        font-size: rem(30px);
    }
    @include phones {
        font-size: rem(21px);
    } 
}


.title:before, .subtitle:before {
    content: "";
    display: inline-block;
    width: rem(22px);
    height: rem(5px);
    background: rgba(52, 65, 66, 0.2);
    margin-right: rem(20px);
}

.title:after, .subtitle:after {
    content: "";
    display: inline-block;
    width: rem(22px);
    height: rem(5px);
    background: rgba(52, 65, 66, 0.2);
    margin-left: rem(20px);    
}

.wrapper {
    position: relative;
    //padding-bottom: rem(150px);
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.section {
    height: 100vh;
    position: relative;
}

.hero {
    height: 100vh;
    //background-image: url('../img/bg/mountains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.dev-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center; 

    &__avatar {      
        width: rem(140px);
        height: rem(140px);
        border-radius: 50%;
        overflow: hidden;    
        background-repeat: no-repeat;
        background-position: 50%, 50%;
        background-size: cover;
        margin-bottom: rem(10px);
    }

    &__name {
        font-size: rem(28px);
        font-family: "Roboto", Arial, sans-serif;
        font-weight: 500;
    }

    &__desc {
        font-family: "Roboto", Arial, sans-serif;
        font-weight: 400;
        color: rgba($color: white, $alpha: 0.8);
    }

    &--header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    @include phones {
        width: 80%;
        } 
    }
}

.social__list {
    z-index: 10;

    &--header {       
        position: absolute;
        left: rem(30px);
        top: rem(30px);
    }
}

.icon-social {
    display: inline-block;
    width: rem(26px);
    height: rem(22px);
    fill: #ffffff;
    fill-opacity: 0.5;
    transition: 0.3s;

    &:hover {
        fill-opacity: 1;        
    }
}

.social__item {
    display: inline-block;
    margin-right: rem(27px);
}

.social__item:last-child {
    margin-right: rem(0px);
}

.social__link {
    display: inline-block;    
}

.social__link-footer {
    display: inline-block;
    width: rem(36px);
    height: rem(36px);
    position: relative;
    border-radius: 50%;
    border: rem(1px) solid rgba(150, 162, 163, 0.5);
    transition: 0.3s;
    &:hover {
        background: #ffffff;        
    }
}

.icon-social-footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    fill: rgba(255, 255, 255, 0.5);
    transition: 0.3s;   
}

.social__link-footer:hover .icon-social-footer{
    fill: #009688;  
}

#parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;    
  }
  
  .parallax__layer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
  }
  
  .parallax__image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }