@font-face {
    font-family: 'fontawesomeregular';
    src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/fontawesome-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontawesomeregular';
    src: url('../fonts/fontawesome-webfont-webfont.woff2') format('woff2'),
         url('../fonts/fontawesome-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sansus-Webissimo-Regular';
    src: url('../fonts/sansus-webissimo-regular-webfont.woff2') format('woff2'),
         url('../fonts/sansus-webissimo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BERNIERRegular-Regular';
    src: url('../fonts/bernierregular-regular-webfont.woff2') format('woff2'),
         url('../fonts/bernierregular-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BERNIERShade-Regular';
    src: url('../fonts/berniershade-regular-webfont.woff2') format('woff2'),
         url('../fonts/berniershade-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BERNIERDistressed-Regular';
    src: url('bernierdistressed-regular-webfont.woff2') format('woff2'),
         url('bernierdistressed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}