.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: relative;
}

.btn-autoriz {
    position: absolute;   
    width: 180px;
    height: 45px;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    display: inline-block;
    top: 20px;
    right: 20px;

    &__name {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
    }
}

.window {
    position: absolute;
    width: 380px;
    border-radius: 5px;
    background: rgba(18, 38, 32, 0.6);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__content {
       margin-top: 40px;            
    }    
}

.hide {
    display: none;
}

.dev-desc__desc--welcome {
    margin-bottom: 33px;
}

.social__list--welcome {
    margin-bottom: 35px;
}

.switch__list {
    display: flex;
    width: 100%;
    background: #618f55;
}

.switch__item{
    border-right: 2px solid;
    border-color: rgba(222, 227, 231, 0.5);
    flex: auto;
    width: 100%;
    padding: 14px 0px;
    text-align: center;

    &:hover {
        background: #4a803b;        
    }
    
    &:last-child {
        border-right: none;
    }
    
    &-link{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;    
    }
}

.form-autoriz {

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
    }

    &__input {
        width: 100%;
        border-radius: 25px;
        height: 45px;
        margin-bottom: 20px;
        outline: none;
        background: url('../img/icons/login.svg') no-repeat;
        background-position: 15px; 
    }

    &__captcha {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &-notrobot {
            margin-bottom: 5px;
        }
        
        &-notrobot-text {
            margin-bottom: 7px;
        }

        &-radio-text {
            display: inline-block;
            padding-left: 10px;
        }
    }
}

.title--autoriz:after {
    content: "";
    display: block;
    width: 89px;
    height: 3px;
    background: #ffffff;
    margin: 15px auto 31px;
}

.form-autoriz__captcha-check {
    position: absolute;
    top: 0px;
    left: -9999px;
}

.form-autoriz__captcha-check-fake {
    width: 20px;
    height: 20px;
    background-color: #6c9c5a;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.form-autoriz__captcha-check-fake:after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-autoriz__captcha-check:checked + .form-autoriz__captcha-check-fake:after {
    background: url('../img/icons/check.svg') no-repeat center center;
}

.form-autoriz__captcha-human {
    display: flex;
     margin-top: 3px;
     margin-bottom: 10px;

    &-text {
        display: inline-block;
        padding-left: 11px;
    }    
}

.form-autoriz__captcha-radio {

    margin-right: 40px;

    &:last-child {
        margin-right: 0px;
    }
    
    &-text {
        display: inline-block;
    }
    
    &-btn {
        position: absolute;
        top: 0px;
        left: -9999px;
    }

    &-fake {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        background-color: #ffffff;    
        position: relative;
        display: inline-block;
    }

    &-fake:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;   
        border-radius: 50%;
        background: #6c9c5a;
        width: 0;
        height: 0;
        transform: translate(-50%, -50%);
    }
}

.form-autoriz__captcha-radio-btn:checked + .form-autoriz__captcha-radio-fake:after {
    width: 10px;
    height: 10px;
}

.form-autoriz__captcha-notrobot {
    text-align: center;
}

.footer {
    width: 100%;
    bottom: 5%;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
}