.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: relative;
}

.hero__header {
    display: flex;
    justify-content: center;
    margin-top: rem(10px);
}

.btn-autoriz {
    position: absolute;   
    padding: rem(11px) rem(27px);
    border: rem(1px) solid white;
    border-radius: rem(5px);
    color: white;
    display: inline-block;
    top: rem(20px);
    right: rem(20px);
    background: none;
    outline: none;
    z-index: 10;
    transition: 0.3s;

    @include phones {
        top: initial;
        right: initial;
        }

    &__name {
       font-weight: 500;       
    }
    &:hover {
        color: #00bfa5;
        background: #ffffff;
        cursor: pointer;
    }
}

.container {
    width: rem(380px);
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
.card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.card .window {
    display: block;
    width: 100%;
    position: absolute;       
}

.card div {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card .back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.card.flipped {   
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.window {
    position: absolute;
    width: rem(380px);
    border-radius: rem(5px);
    background: rgba(252, 252, 252, 0.85);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    @include tablets {
        width: rem(348px);
        }
    @include phones {
        width: 95%;
        }
    
    &-welcome__content {
       margin-top: rem(40px);
       display: flex;
       align-items: center;
       flex-direction: column;
    @include phones {
        margin-top: 9%;
        }                 
    }    
}

.hide {
    display: none;
}

.dev-desc--welcome {
    margin-bottom: rem(33px);
    color: #455a64;
    @include phones {
        margin-bottom: 5%;
    }
}

.dev-desc__name--welcome {
    margin-bottom: rem(2px);
}

.dev-desc__desc--welcome {
    color: rgba(69, 90, 100, 0.8);
}

.social__list--welcome {
    margin-bottom: rem(35px);
    @include phones {
        margin-bottom: 9%;
        }
}

.icon-social--welcome {    
    fill: #00bfa5;  
}

.switch__list {
    display: flex;
    width: 100%;
    background: rgba(0, 191, 165, 0.85);
}

.switch__item {
    border-right: rem(2px) solid;
    border-color: rgba(222, 227, 231, 0.5);
    display: inline-block;
    width: 100%;
    height: rem(45px);
    text-align: center;
    transition: 0.3s;

    &:hover {
        background: rgba(0, 150, 136, 0.85);        
    }
    
    &:last-child {
        border-right: none;
    }
    
    &-link{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 500;
    }
}

.form-autoriz {

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: rem(30px) rem(20px);
    }

    &__input-block {
        width: 100%;
        height: rem(45px);
        margin-bottom: rem(20px);
        display: flex;
        &-img {
            width: rem(45px);
            height: 100%;
            background: #f0efe9;
            position: relative;
            border-radius: rem(5px) 0 0 rem(5px);
        }
            
        &-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    &__input {
        width: 100%;
        height: 100%;
        border-radius: 0 rem(5px) rem(5px) 0;        
        outline: none;
        border: none;
        padding-left: rem(19px);
        
    }

    &__captcha {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &-notrobot {
            margin-bottom: rem(5px);
        }
        
        &-notrobot-text {
            margin-bottom: rem(7px);
        }

        &-radio-text {
            display: inline-block;
            padding-left: rem(10px);
        }
    }
}
.title--autoriz {   
    margin-bottom: rem(27px);  
}

.form-autoriz__captcha {
    color: rgba(69, 90, 100, 0.8)
}

.form-autoriz__captcha-check {
    position: absolute;
    top: rem(0px);
    left: rem(-9999px);
}

.form-autoriz__captcha-check-fake {
    width: rem(20px);
    height: rem(20px);
    background-color: #00bfa5;
    position: relative;
    display: inline-block;
    border-radius: rem(2px);
}

.form-autoriz__captcha-check-fake:after {
    content: "";
    width: rem(20px);
    height: rem(20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-autoriz__captcha-check:checked + .form-autoriz__captcha-check-fake:after {
    background: url('../img/icons/check.svg') no-repeat center center;
    background-size: 60%;
}

.form-autoriz__captcha-human {
    display: flex;
     margin-top: rem(3px);
     margin-bottom: rem(10px);

    &-text {
        display: inline-block;
        padding-left: rem(11px);
    }    
}

.form-autoriz__captcha-radio {
    margin-right: rem(40px);

    &:last-child {
        margin-right: rem(0px);
    }
    
    &-text {
        display: inline-block;
    }
    
    &-btn {
        position: absolute;
        top: rem(0px);
        left: rem(-9999px);
    }

    &-fake {
        width: rem(20px);
        height: rem(20px);
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        background-color: #ffffff;    
        position: relative;
        display: inline-block;
    }

    &-fake:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;   
        border-radius: 50%;
        background: #00bfa5;
        width: 0;
        height: 0;
        transform: translate(-50%, -50%);
    }
}

.form-autoriz__captcha-radio-btn:checked + .form-autoriz__captcha-radio-fake:after {
    width: rem(10px);
    height: rem(10px);
}

.form-autoriz__captcha-notrobot {
    text-align: center;

    &-text {
        font-weight: 700;
    }
}

.footer__welcome {
    width: 100%;
    bottom: rem(30px);
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 300;

    @include tablets {
        font-size: rem(14px);
        bottom: 3%;
        }
    @include phones {
        text-align: center;
        width: 85%;
        bottom: 2%;
        }
}

input::-webkit-input-placeholder { 
    color:rgba(55, 62, 66, 0.5)
}
input::-moz-placeholder { color:rgba(55, 62, 66, 0.5) } /* Firefox 19+ */

input:-moz-placeholder  {color:rgba(55, 62, 66, 0.5) } /* Firefox 18- */

input:-ms-input-placeholder {color:rgba(55, 62, 66, 0.5) } 