.footer__content.footer__content--top            
  nav.nav
    ul.nav__list
      li.nav__item
        a.nav__item-link(href="works.html") Мои работы
      li.nav__item
        a.nav__item-link(href="about.html") Обо мне
      li.nav__item
        a.nav__item-link(href="blog.html") Блог
      li.nav__item
        a.nav__item-link(href="index.html") Авторизация
  ul.social__list.social__list--footer
    li.social__item.social__item--footer
      a.social__link-footer(href='https://vk.com/bogatyrv' target="_blank")
        svg.icon-social-footer(width='26', height='13', fill='#fff')
          use(xlink:href='img/symbol/sprite.svg#icons--vk')
    li.social__item.social__item--footer
      a.social__link-footer(href='https://github.com/uamvua' target="_blank")
        svg.icon-social-footer(width='20', height='16', fill='#fff')
          use(xlink:href='img/symbol/sprite.svg#icons--github')
    li.social__item.social__item--footer
      a.social__link-footer(href='#')
        svg.icon-social-footer(width='18', height='16', fill='#fff')
          use(xlink:href='img/symbol/sprite.svg#icons--in')
.footer__content.footer__content--bottom
  .footer__content-desc.footer__content-desc-left Я веб-разработчик из Тарко-Сале, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
  .footer__content-desc.footer__content-desc-right © Владимир Богатыренко | создано с любовью в LoftSchool | 2018