nav.nav.nav--full-menu
          ul.nav__list.nav-list--full-menu
            li.nav__item.title.title--link
              a.nav__item-link(href="works.html") Мои работы
            li.nav__item.title.title--link
              a.nav__item-link(href="about.html") Обо мне
            li.nav__item.title.title--link
              a.nav__item-link(href="blog.html") Блог
            li.nav__item.title.title--link
              a.nav__item-link(href="index.html") Авторизация