 ul.social__list.social__list--header
                li.social__item
                    a.social__link(href='https://vk.com/bogatyrv' target="_blank" )
                        svg.icon-social(width='26', height='22', fill='#fff')
                            use(xlink:href='img/symbol/sprite.svg#icons--vk')
                li.social__item
                    a.social__link(href='https://github.com/uamvua' target="_blank")
                        svg.icon-social(width='26', height='22', fill='#fff')
                            use(xlink:href='img/symbol/sprite.svg#icons--github')
                li.social__item
                    a.social__link(href='#')
                        svg.icon-social(width='26', height='22', fill='#fff')
                            use(xlink:href='img/symbol/sprite.svg#icons--in')
            .hero__menu
                label.hamburger
                    span.first
                    span.second
                    span.third         