//config
@import "config/mixins.scss";

//resolutions
$retina: 1800px;
$tablets: 768px;
$phones: 480px;

//media
@import "misc/media.scss";

//base
@import "base/preloader.scss";
@import "base/font.scss";
@import "base/base.scss";
@import "base/common.scss";

//page
@import "page/welcome.scss";
@import "page/works/hero__section-works.scss";
@import "page/works/section-works.scss";
@import "page/works/section-reviews.scss";
@import "page/footer.scss";
@import "page/about/about.scss";
@import "page/blog/blog.scss";

//admin
@import "admin/admin.scss"