.my-work {
    display: flex;
    flex-direction: column;
    @include tablets {
        height: 100vh;
    }

    &__title {
        position: relative;
        height: 19%;
        width: 100%;
        display: flex;
        justify-content: center;
        background: #faf8f0;
        z-index: 10;
        @include tablets {
            padding: rem(27px) 0;
        }
    }
}
.subtitle--my-work {
    @include tablets {
        margin: rem(25px) 0 rem(25px) 0;
    }
}
.my-work__slider {
    position: relative;
    height: 81%;

    &-list {
        height: 100%;
        overflow: hidden;
    }

    &-item {
        display: flex;
        height: 100%;
        color: #fff;
        font-weight: bold;
        //flex-direction: column;
        flex-wrap: wrap;
        opacity: 0;
        z-index: 1;
        transition: opacity 1s;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include tablets {
                    }
    }

    &-skills {
        border-top: rem(2px) solid;
        border-bottom: rem(2px) solid;
        width: 100%;
        //text-align: center;
        padding: rem(20px) rem(0px);
        color: #20b5a1;
        margin-top: rem(40px);
        @include tablets {
            margin-top: rem(7px);
            padding: rem(16px) rem(0px);
            font-size: rem(16px);
            width: 70%;
            text-align: center;
        }
        @include phones {
            width: 100%;
            font-size: rem(14px);
            padding: rem(9px) rem(0px);
        }
    }

    &-display-img {
        max-height: 90%;
        max-width: 85%;
    }
}

.showing {
    opacity: 1;
    z-index: 2;
}

.controls{
    display: none;
}

.my-work__slider-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #efebe0;
    width: 50%;
    height: 100%;
    @include tablets {
        width: 100%;
        order: 1;
        height: 35%;
        padding: rem(40px) 0 rem(60px) 0;
    }
    @include phones {
        padding: rem(30px) 0;
    }

    &-block {
        display: flex;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        //align-items: center;
        //text-align: center;
        @include tablets {
            width: 100%;
            align-items: center;
        }
    }

    &-btn {
        &-link {
            display: flex;
            background: #00bfa5;
            width: rem(200px);
            height: rem(45px);
            justify-content: center;
            align-items: center;
            border-radius: rem(5px);
            margin-top: rem(40px);
            transition: 0.3s;
            @include tablets {
                margin-top: rem(21px);
            }
            &:hover {
                cursor: pointer;
                background: #009688;
            }
            &-icon {
                margin-right: rem(11px);
            }
        }        
    }    
}

.my-work__slider-display {
    background: #efebe0;
    width: 50%;
    //height: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    @include tablets {
        width: 100%;
        order: 2;
        //height: rem(527px);
        height: 65%;
        justify-content: center;
        align-items: flex-end;
    }
    @include phones {
        //height: rem(257px);
    }

    &-img {
        @include tablets {
            height: 100%;
        }
        @include phones {
            height: 100%;
        }
    }

    &-img-wrap {
        @include tablets {
            height: 90%;
        }
    }
}

.my-work__slider-btns {
    display: flex;
    position: relative;    
    width: 50%;
    height: 30%;
    
    @include tablets {
        height: rem(215px);
        width: 100%;
        order: 3;
    }
    @include phones {
        height: rem(90px);
    }

    &:after {
        content:"";
        background: rgba(136, 131, 114, 0.5);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &-down, &-up {
        position: relative;
        display: flex;
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    &-down-icon, &-up-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 10;
        fill: #ffffff;
        fill-opacity: 0.7;
        transition: 0.3s;
    }

    &-down-icon, &-up-icon {
        &:hover {
            cursor: pointer;
            fill-opacity: 1;                
        }       
    }    

    &-down-img, &-up-img {
        height: 80%;
    }
}

.controls{
    cursor: pointer;
    z-index: 10;
}

.controls:hover,
.controls:focus{
    background: #eee;
    color: #333;
}

.buttons{    
    z-index: 10;
    font-size: 0px;
}

#previous {
    left: rem(30px);
    position: absolute;    
    top: 50%;
    transform: rotate(90deg) translateY(-50%);
    @include phones {
        left: 1%;    
    }
}

#next {
    right: rem(30px);
    position: absolute;    
    top: 50%;
    transform: rotate(-90deg) translateY(-50%);
    @include phones {
        right: 1%;    
    }
}

.previous-slider, .next-slider {
    fill: #47ccb7;
    fill-opacity: 0.7;
    transition: 0.3s;
}

.previous-slider:hover, .next-slider:hover {
    fill-opacity: 1;
}

.sidebar__list {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: rem(40px);
    z-index: 15;
    @include phones {
        bottom: 2%;    
    }
}

.sidebar__item {
    width: rem(10px);
    height: rem(10px);
    background: #ffffff;
    border-radius: 50%;
    border: 2px solid #26bbaa;
    margin-right: rem(20px);
}

.sidebar__item:hover {
    cursor: pointer;
}

.sidebar__item.active {
    background: #26bbaa;
}

.my-work__bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    fill: #6d7070;
    fill-opacity: 0.07;

    @include phones {
        width: 82%;
    }
}

.subtitle.subtitle--my-work:after, .subtitle.subtitle--my-work:before {
    display: none;
}